extends ../_layout/default

block vars
  -title        = 'Agenda'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'agenda'
  -jsID         = 'calendar'
  -uploadJs     = 'true'
  -videoJs      = 'true'
  -path         = '../'
  -hasFooter    = false

block container
  .layout-agenda
    .layout-main 
      .main-header 
        include components/header-live
      .main-video 
        .box-live
          .box-live-main-list
            .box-live-main
              img(src=path+"/assets/images/agenda/live-user1.jpg", alt="")
              .box-live-info
                .live-info-ticket.ticket-hot
                  img(src=path+"/assets/images/ico_host.svg", alt="")
                  label Host
                .live-info-caption Michael Smith
                .live-info-descriptions Bussiness Conference Design & Facilitation, The Art of Metting
        .video-control 
          include components/video-control-record
    .layout-sidebar 
      .tab-main.tag-js
        .tab-header
          a(attr-body="#tab-main1") Live feeds
          a.is-activated(attr-body="#tab-main2") People in session
        .tab-body 
          #tab-main1.tab-content
            .tab-item.tag-js
              .tab-header
                a(attr-body="#tab-chats") Chats
                a(attr-body="#tab-qa") Q&A
                a(attr-body="#tab-poll") Poll
                a(attr-body="#tab-raised-hands") Raised Hands
                a(attr-body="#tab-videos") Videos
              .tab-body
                #tab-chats.tab-content 
                  .tab-item-main 
                    .chat-main
                      ul.chat-list 
                        li.chat-pin 
                          .chat-item
                            .chat-item-header
                              .panel-top-info Michael Smith
                                img.btn-user-info(src=path+"/assets/images/img_avatar04.png", alt="")
                                .chat-pin-ico 
                                  span.ico-pin
                                  |Pinned
                                .panel-top-info-time
                                  .info Job title, Organization
                                  .time 22 mins ago
                            .chat-item-content Hmm… that email doesn't look valid 🧐
                        li 
                          .chat-item 
                            .chat-item-header
                              .panel-top-info Michawsel Smith
                                img.btn-user-info(src=path+"/assets/images/img_avatar02.png", alt="")
                                .panel-top-info-time 
                                   .info Job title, Organization
                                   .time 3 mins ago 
                            .chat-item-content.chat-reply-main
                              .chat-reply 
                                .chat-reply-content 
                                  .chat-reply-content-txt Why??? 🧐
                                    ul.chat-reply-from 
                                      li Michael Smith  
                                      li Today at 2:41 PM
                                  .chat-txt We’ll just use this to follow up if needed. No spam, promise.
                        li 
                          .chat-item 
                            .chat-item-header
                              .panel-top-info Michael Smith
                                img.btn-user-info(src=path+"/assets/images/img_avatar03.png", alt="")
                                span 
                                  span.ico-mic-circe
                                .panel-top-info-time 
                                   .info Job title, Organization
                                   .time 3 mins ago 
                            .chat-item-content We’ll just use this to follow up if needed. No spam, promise.
                              .chat-item-action 
                                .chat-like 
                                  span.ico-like
                                .chat-action-group 
                                  ul 
                                    li 
                                      .chat-action-item.chat-action-undo 
                                        span.ico-undo 
                                    li 
                                      .chat-action-item.chat-action-show 
                                        span.ico-laptop
                                    li 
                                      .chat-action-item.chat-action-menu 
                                        span.ico-menu 
                                      include components/menu-chat
                    .chat-tool 
                      .chat-tool-main 
                        .chat-tool-icon 
                        input.chat-tool-input(placeholder="What would you like to share?")
                        button.btn.btn-primary.trans.chat-tool-submit(type="button") Send
                #tab-qa.tab-content 
                  include components/tab-qa
                #tab-poll.tab-content 
                  include components/tab-poll
                #tab-raised-hands.tab-content
                  include components/tab-raised-hands
                #tab-videos.tab-content 
                  include components/tab-video
          #tab-main2.tab-content 
            include components/tab-main2
  include ../_components/widget
  include components/modal-play
  include components/modal-end
  include components/popup-user
  