.m-tab-content
  .wrapper
    .m-content_head
      h2.title-tab General
      a.btn.btn-black.btn-watch.trans(href="#")
        span Preview Landing Page
    .m-general
      .m-general_left
        .m-general_box
          a.link-edit.trans(href="javascript:;") View Detail
          h2.ttl-primary Agenda
            span (10 activities)
          ul.l-schedule
            li
              a.l-schedule_item.trans(href="#")
                .time Aug 31, 2022
                  br
                  |11:00 - 11:30
                .duration-time
                  span.tag-time.tag-time--type01 30 mins
                p.desp Opening the Event
            li
              a.l-schedule_item.trans(href="#")
                .time Aug 31, 2022
                  br
                  |13:00 - 17:30
                .duration-time
                  span.tag-time.tag-time--type01 90 mins
                p.desp Intro video, experience the products
            li
              a.l-schedule_item.trans(href="#")
                .time Aug 31, 2022
                  br
                  |12:00 - 12:20
                .duration-time
                  span.tag-time.tag-time--type02 20 mins
                p.desp Break
          a.btn.btn-border.trans(href="#")
            span Load More
        .m-general_box
          a.link-edit.trans(href="javascript:;") View Detail
          h2.ttl-primary Speaker
            span (6 persons)
          ul.l-user
            li
              a.btn-add-user.trans(href="#" data-toggle="modal" data-target="#modalSpeaker")
                img(src=path+"/assets/images/ico_plus.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar01.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar02.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar03.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar04.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar05.png", alt="")
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar06.png", alt="")
        .m-general_box
          a.link-edit.trans(href="javascript:;") View Detail
          h2.ttl-primary Host
            span (1 person)
          ul.l-user
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/img_avatar07.png", alt="")
        .m-general_box.m-general_box--width01
          a.link-edit.trans(href="javascript:;") View Detail
          h2.ttl-primary Sponsors
            span (15)
          ul.l-user.l-user_sponsor
            li
              a.btn-add-user.trans(href="#" data-toggle="modal" data-target="#modalSponsor")
                img(src=path+"/assets/images/ico_plus.png", alt="")
                span Add Sponsor
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu01.png", alt="")
                span Sponsor 1
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu02.png", alt="")
                span Sponsor 2
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu03.png", alt="")
                span Sponsor 3
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu04.png", alt="")
                span Sponsor 4
        .m-general_box.m-general_box--width01
          a.link-edit.trans(href="javascript:;") View Detail
          h2.ttl-primary Booths
            span (10)
          ul.l-user.l-user_sponsor
            li
              a.btn-add-user.trans(href="#" data-toggle="modal" data-target="#modalAddBooth")
                img(src=path+"/assets/images/ico_plus.png", alt="")
                span Add Booths
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu05.png", alt="")
                span Booth 1
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu06.png", alt="")
                span Booth 2
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu07.png", alt="")
                span Booth 3
            li
              a.l-user_avt.trans(href="#")
                img(src=path+"/assets/images/ico_illu08.png", alt="")
                span Booth 4
      aside.m-general_right
        .m-general_box
          a.link-edit.trans(href="javascript:;" data-toggle="modal" data-target="#modalEvent") Edit
          h2.ttl-primary.xs Event Detail
          .box-event
            h3.box-event_title Event-led Growth Summit
            p.text.time Start: Aug 31, 2022, 11:00<br>End: Sep 31, 2022, 17:00
            p.text.desp Description We’ll just use this to follow up if needed...
              a.link-text(href="javascript:;") Show more
            p.text.type Type...
            p.text.team Advertising VietNam
            p.text.mail info@advertisingvietnam.com
    .block-menu
      h2.ttl-primary.ttl-primary--normal Before event begins
        a.btn-infor(href="javascript:;")
          img(src=path+"/assets/images/ico_info.svg", alt="")
      ul.l-menu
        li
          a.btn.btn-menu.ico01.trans(href="#")
            span Upload Pre-Recorded Videos
        li
          a.btn.btn-menu.ico02.trans(href="#")
            span Customize Reception
        li
          a.btn.btn-menu.ico03.trans(href="#")
            span Setup Leaderboard
        li
          a.btn.btn-menu.ico04.trans(href="#")
            span Setup Early Event Access
    .block-menu
      h2.ttl-primary.ttl-primary--normal Other settings
        a.btn-infor(href="javascript:;")
          img(src=path+"/assets/images/ico_info.svg", alt="")
      ul.l-menu
        li
          a.btn.btn-menu.ico05.trans(href="#")
            span Customize Registration Form
        li
          a.btn.btn-menu.ico06.trans(href="#")
            span Add Event Banner
        li
          a.btn.btn-menu.ico07.trans(href="#")
            span Setup Ticketing
        li
          a.btn.btn-menu.ico08.trans(href="#")
            span Download Session Recordings
        li
          a.btn.btn-menu.ico09.trans(href="#")
            span Download Session Recordings

include ../_modules/footer