#groupSponsorManager.modalGrMng.modal.fade(role="dialog" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal_head
        .ttl-primary.sm Group management
        button(type='button' class="btn btn-circle trans" data-dismiss="modal")
          img(src=path + "/assets/images/ico_close_white.svg", alt="")
      .modal-wrapper
        .modal_body
          .m-group_control.line
            .m-group_control-item
              .m-group_control-item--left
                span.m-group_control-item--menu
                  img(src=path + "/assets/images/ico_menu.svg", alt="")
                .m-group_control-item--title
                  span 1.
                  span.name Diamond Sponsor
              .m-group_control-item--right
                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-edit' d='M4.48573 21.1909L9.78903 20.1302C9.98262 20.0915 10.1604 19.9964 10.3 19.8568L16.9498 13.2069C17.3403 12.8164 17.3403 12.1832 16.9498 11.7927L12.7072 7.55006C12.3167 7.15954 11.6835 7.15954 11.293 7.55006L4.64317 14.1999C4.50357 14.3395 4.40842 14.5173 4.3697 14.7109L3.30904 20.0142C3.16909 20.7139 3.78601 21.3308 4.48573 21.1909Z' fill='#fff')
                    path(class='svg-edit' d='M20.6925 5.2216L19.2783 3.80739C18.1068 2.63582 16.2073 2.63582 15.0357 3.80739L14.0504 4.79268C13.6599 5.1832 13.6599 5.81637 14.0504 6.20689L18.293 10.4495C18.6836 10.8401 19.3167 10.8401 19.7073 10.4495L20.6925 9.46425C21.8641 8.29267 21.8641 6.39318 20.6925 5.2216Z' fill='#fff')

                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.51857 7.51855C7.92767 7.51855 8.25931 7.8502 8.25931 8.2593V11.963C8.25931 12.3721 7.92767 12.7037 7.51857 12.7037C7.10947 12.7037 6.77783 12.3721 6.77783 11.963V8.2593C6.77783 7.8502 7.10947 7.51855 7.51857 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M10.482 7.51855C10.8911 7.51855 11.2227 7.8502 11.2227 8.2593V11.963C11.2227 12.3721 10.8911 12.7037 10.482 12.7037C10.0729 12.7037 9.74121 12.3721 9.74121 11.963V8.2593C9.74121 7.8502 10.0729 7.51855 10.482 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.5187 1.59277C6.2914 1.59277 5.29648 2.5877 5.29648 3.815H3.07426H2.33351C1.92441 3.815 1.59277 4.14664 1.59277 4.55574C1.59277 4.96484 1.92441 5.29648 2.33351 5.29648H3.07426V14.1854C3.07426 15.4127 4.06918 16.4076 5.29648 16.4076H12.7039C13.9312 16.4076 14.9261 15.4127 14.9261 14.1854V5.29648H15.6669C16.0759 5.29648 16.4076 4.96484 16.4076 4.55574C16.4076 4.14664 16.0759 3.815 15.6669 3.815H14.9261H12.7039C12.7039 2.5877 11.709 1.59277 10.4817 1.59277H7.5187ZM11.2224 3.815C11.2224 3.4059 10.8908 3.07426 10.4817 3.07426H7.5187C7.1096 3.07426 6.77796 3.4059 6.77796 3.815H11.2224ZM5.29648 5.29648H4.55574V14.1854C4.55574 14.5945 4.88738 14.9261 5.29648 14.9261H12.7039C13.113 14.9261 13.4446 14.5945 13.4446 14.1854V5.29648H12.7039H5.29648Z' fill='#fff')
            .m-group_control-item
              .m-group_control-item--left
                span.m-group_control-item--menu
                  img(src=path + "/assets/images/ico_menu.svg", alt="")
                .m-group_control-item--title
                  span 2.
                  span.name Golden Sponsor
              .m-group_control-item--right
                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-edit' d='M4.48573 21.1909L9.78903 20.1302C9.98262 20.0915 10.1604 19.9964 10.3 19.8568L16.9498 13.2069C17.3403 12.8164 17.3403 12.1832 16.9498 11.7927L12.7072 7.55006C12.3167 7.15954 11.6835 7.15954 11.293 7.55006L4.64317 14.1999C4.50357 14.3395 4.40842 14.5173 4.3697 14.7109L3.30904 20.0142C3.16909 20.7139 3.78601 21.3308 4.48573 21.1909Z' fill='#fff')
                    path(class='svg-edit' d='M20.6925 5.2216L19.2783 3.80739C18.1068 2.63582 16.2073 2.63582 15.0357 3.80739L14.0504 4.79268C13.6599 5.1832 13.6599 5.81637 14.0504 6.20689L18.293 10.4495C18.6836 10.8401 19.3167 10.8401 19.7073 10.4495L20.6925 9.46425C21.8641 8.29267 21.8641 6.39318 20.6925 5.2216Z' fill='#fff')

                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.51857 7.51855C7.92767 7.51855 8.25931 7.8502 8.25931 8.2593V11.963C8.25931 12.3721 7.92767 12.7037 7.51857 12.7037C7.10947 12.7037 6.77783 12.3721 6.77783 11.963V8.2593C6.77783 7.8502 7.10947 7.51855 7.51857 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M10.482 7.51855C10.8911 7.51855 11.2227 7.8502 11.2227 8.2593V11.963C11.2227 12.3721 10.8911 12.7037 10.482 12.7037C10.0729 12.7037 9.74121 12.3721 9.74121 11.963V8.2593C9.74121 7.8502 10.0729 7.51855 10.482 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.5187 1.59277C6.2914 1.59277 5.29648 2.5877 5.29648 3.815H3.07426H2.33351C1.92441 3.815 1.59277 4.14664 1.59277 4.55574C1.59277 4.96484 1.92441 5.29648 2.33351 5.29648H3.07426V14.1854C3.07426 15.4127 4.06918 16.4076 5.29648 16.4076H12.7039C13.9312 16.4076 14.9261 15.4127 14.9261 14.1854V5.29648H15.6669C16.0759 5.29648 16.4076 4.96484 16.4076 4.55574C16.4076 4.14664 16.0759 3.815 15.6669 3.815H14.9261H12.7039C12.7039 2.5877 11.709 1.59277 10.4817 1.59277H7.5187ZM11.2224 3.815C11.2224 3.4059 10.8908 3.07426 10.4817 3.07426H7.5187C7.1096 3.07426 6.77796 3.4059 6.77796 3.815H11.2224ZM5.29648 5.29648H4.55574V14.1854C4.55574 14.5945 4.88738 14.9261 5.29648 14.9261H12.7039C13.113 14.9261 13.4446 14.5945 13.4446 14.1854V5.29648H12.7039H5.29648Z' fill='#fff')
            .m-group_control-item
              .m-group_control-item--left
                span.m-group_control-item--menu
                  img(src=path + "/assets/images/ico_menu.svg", alt="")
                .m-group_control-item--title
                  span 3.
                  span.name Silver Sponsor
              .m-group_control-item--right
                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-edit' d='M4.48573 21.1909L9.78903 20.1302C9.98262 20.0915 10.1604 19.9964 10.3 19.8568L16.9498 13.2069C17.3403 12.8164 17.3403 12.1832 16.9498 11.7927L12.7072 7.55006C12.3167 7.15954 11.6835 7.15954 11.293 7.55006L4.64317 14.1999C4.50357 14.3395 4.40842 14.5173 4.3697 14.7109L3.30904 20.0142C3.16909 20.7139 3.78601 21.3308 4.48573 21.1909Z' fill='#fff')
                    path(class='svg-edit' d='M20.6925 5.2216L19.2783 3.80739C18.1068 2.63582 16.2073 2.63582 15.0357 3.80739L14.0504 4.79268C13.6599 5.1832 13.6599 5.81637 14.0504 6.20689L18.293 10.4495C18.6836 10.8401 19.3167 10.8401 19.7073 10.4495L20.6925 9.46425C21.8641 8.29267 21.8641 6.39318 20.6925 5.2216Z' fill='#fff')

                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.51857 7.51855C7.92767 7.51855 8.25931 7.8502 8.25931 8.2593V11.963C8.25931 12.3721 7.92767 12.7037 7.51857 12.7037C7.10947 12.7037 6.77783 12.3721 6.77783 11.963V8.2593C6.77783 7.8502 7.10947 7.51855 7.51857 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M10.482 7.51855C10.8911 7.51855 11.2227 7.8502 11.2227 8.2593V11.963C11.2227 12.3721 10.8911 12.7037 10.482 12.7037C10.0729 12.7037 9.74121 12.3721 9.74121 11.963V8.2593C9.74121 7.8502 10.0729 7.51855 10.482 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.5187 1.59277C6.2914 1.59277 5.29648 2.5877 5.29648 3.815H3.07426H2.33351C1.92441 3.815 1.59277 4.14664 1.59277 4.55574C1.59277 4.96484 1.92441 5.29648 2.33351 5.29648H3.07426V14.1854C3.07426 15.4127 4.06918 16.4076 5.29648 16.4076H12.7039C13.9312 16.4076 14.9261 15.4127 14.9261 14.1854V5.29648H15.6669C16.0759 5.29648 16.4076 4.96484 16.4076 4.55574C16.4076 4.14664 16.0759 3.815 15.6669 3.815H14.9261H12.7039C12.7039 2.5877 11.709 1.59277 10.4817 1.59277H7.5187ZM11.2224 3.815C11.2224 3.4059 10.8908 3.07426 10.4817 3.07426H7.5187C7.1096 3.07426 6.77796 3.4059 6.77796 3.815H11.2224ZM5.29648 5.29648H4.55574V14.1854C4.55574 14.5945 4.88738 14.9261 5.29648 14.9261H12.7039C13.113 14.9261 13.4446 14.5945 13.4446 14.1854V5.29648H12.7039H5.29648Z' fill='#fff')
            .m-group_control-item
              .m-group_control-item--left
                span.m-group_control-item--menu
                  img(src=path + "/assets/images/ico_menu.svg", alt="")
                .m-group_control-item--title
                  span 4.
                  span.name Media Partner
              .m-group_control-item--right
                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-edit' d='M4.48573 21.1909L9.78903 20.1302C9.98262 20.0915 10.1604 19.9964 10.3 19.8568L16.9498 13.2069C17.3403 12.8164 17.3403 12.1832 16.9498 11.7927L12.7072 7.55006C12.3167 7.15954 11.6835 7.15954 11.293 7.55006L4.64317 14.1999C4.50357 14.3395 4.40842 14.5173 4.3697 14.7109L3.30904 20.0142C3.16909 20.7139 3.78601 21.3308 4.48573 21.1909Z' fill='#fff')
                    path(class='svg-edit' d='M20.6925 5.2216L19.2783 3.80739C18.1068 2.63582 16.2073 2.63582 15.0357 3.80739L14.0504 4.79268C13.6599 5.1832 13.6599 5.81637 14.0504 6.20689L18.293 10.4495C18.6836 10.8401 19.3167 10.8401 19.7073 10.4495L20.6925 9.46425C21.8641 8.29267 21.8641 6.39318 20.6925 5.2216Z' fill='#fff')

                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.51857 7.51855C7.92767 7.51855 8.25931 7.8502 8.25931 8.2593V11.963C8.25931 12.3721 7.92767 12.7037 7.51857 12.7037C7.10947 12.7037 6.77783 12.3721 6.77783 11.963V8.2593C6.77783 7.8502 7.10947 7.51855 7.51857 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M10.482 7.51855C10.8911 7.51855 11.2227 7.8502 11.2227 8.2593V11.963C11.2227 12.3721 10.8911 12.7037 10.482 12.7037C10.0729 12.7037 9.74121 12.3721 9.74121 11.963V8.2593C9.74121 7.8502 10.0729 7.51855 10.482 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.5187 1.59277C6.2914 1.59277 5.29648 2.5877 5.29648 3.815H3.07426H2.33351C1.92441 3.815 1.59277 4.14664 1.59277 4.55574C1.59277 4.96484 1.92441 5.29648 2.33351 5.29648H3.07426V14.1854C3.07426 15.4127 4.06918 16.4076 5.29648 16.4076H12.7039C13.9312 16.4076 14.9261 15.4127 14.9261 14.1854V5.29648H15.6669C16.0759 5.29648 16.4076 4.96484 16.4076 4.55574C16.4076 4.14664 16.0759 3.815 15.6669 3.815H14.9261H12.7039C12.7039 2.5877 11.709 1.59277 10.4817 1.59277H7.5187ZM11.2224 3.815C11.2224 3.4059 10.8908 3.07426 10.4817 3.07426H7.5187C7.1096 3.07426 6.77796 3.4059 6.77796 3.815H11.2224ZM5.29648 5.29648H4.55574V14.1854C4.55574 14.5945 4.88738 14.9261 5.29648 14.9261H12.7039C13.113 14.9261 13.4446 14.5945 13.4446 14.1854V5.29648H12.7039H5.29648Z' fill='#fff')
            .m-group_control-item
              .m-group_control-item--left
                span.m-group_control-item--menu
                  img(src=path + "/assets/images/ico_menu.svg", alt="")
                .m-group_control-item--title
                  span 5.
                  span.name Gift Sponsor
              .m-group_control-item--right
                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-edit' d='M4.48573 21.1909L9.78903 20.1302C9.98262 20.0915 10.1604 19.9964 10.3 19.8568L16.9498 13.2069C17.3403 12.8164 17.3403 12.1832 16.9498 11.7927L12.7072 7.55006C12.3167 7.15954 11.6835 7.15954 11.293 7.55006L4.64317 14.1999C4.50357 14.3395 4.40842 14.5173 4.3697 14.7109L3.30904 20.0142C3.16909 20.7139 3.78601 21.3308 4.48573 21.1909Z' fill='#fff')
                    path(class='svg-edit' d='M20.6925 5.2216L19.2783 3.80739C18.1068 2.63582 16.2073 2.63582 15.0357 3.80739L14.0504 4.79268C13.6599 5.1832 13.6599 5.81637 14.0504 6.20689L18.293 10.4495C18.6836 10.8401 19.3167 10.8401 19.7073 10.4495L20.6925 9.46425C21.8641 8.29267 21.8641 6.39318 20.6925 5.2216Z' fill='#fff')

                a(class='btn btn-circle trans')
                  svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.51857 7.51855C7.92767 7.51855 8.25931 7.8502 8.25931 8.2593V11.963C8.25931 12.3721 7.92767 12.7037 7.51857 12.7037C7.10947 12.7037 6.77783 12.3721 6.77783 11.963V8.2593C6.77783 7.8502 7.10947 7.51855 7.51857 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M10.482 7.51855C10.8911 7.51855 11.2227 7.8502 11.2227 8.2593V11.963C11.2227 12.3721 10.8911 12.7037 10.482 12.7037C10.0729 12.7037 9.74121 12.3721 9.74121 11.963V8.2593C9.74121 7.8502 10.0729 7.51855 10.482 7.51855Z' fill='#fff')
                    path(class='svg-trash' fill-rule='evenodd' clip-rule='evenodd' d='M7.5187 1.59277C6.2914 1.59277 5.29648 2.5877 5.29648 3.815H3.07426H2.33351C1.92441 3.815 1.59277 4.14664 1.59277 4.55574C1.59277 4.96484 1.92441 5.29648 2.33351 5.29648H3.07426V14.1854C3.07426 15.4127 4.06918 16.4076 5.29648 16.4076H12.7039C13.9312 16.4076 14.9261 15.4127 14.9261 14.1854V5.29648H15.6669C16.0759 5.29648 16.4076 4.96484 16.4076 4.55574C16.4076 4.14664 16.0759 3.815 15.6669 3.815H14.9261H12.7039C12.7039 2.5877 11.709 1.59277 10.4817 1.59277H7.5187ZM11.2224 3.815C11.2224 3.4059 10.8908 3.07426 10.4817 3.07426H7.5187C7.1096 3.07426 6.77796 3.4059 6.77796 3.815H11.2224ZM5.29648 5.29648H4.55574V14.1854C4.55574 14.5945 4.88738 14.9261 5.29648 14.9261H12.7039C13.113 14.9261 13.4446 14.5945 13.4446 14.1854V5.29648H12.7039H5.29648Z' fill='#fff')


        .modal_foot.line
          button(
            type="submit"
            class="btn btn-primary trans w-100"
            data-toggle="modal"
            data-target="#addGroupSponsorModal"
          )
            span Add new group