#uploadVideo.modal.fade(tabindex='-1' role='dialog' aria-labelledby='uploadVideo' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal_head
        .ttl-primary.sm Upload a video
        button(type='button' class="btn btn-circle trans" data-dismiss="modal")
          img(src=path + "/assets/images/ico_close_white.svg", alt="")
      .modal-wrapper
        .modal_body
          .m-input
            .input-file-wrap.input-file-wrap_video
              input.input-file#imgInp(type="file", name="" accept="video/mp4,video/x-m4v,video/*")
              .m-input_video
                img.normal(src=path+"/assets/images/video-folder.png" class='folder' alt="Drag & drop or click to upload video")
                img.uploaded(src=path+"/assets/images/ico_video_folder.png" class='folder' alt="Drag & drop or click to upload video" widtd="64" height="46")
                p Drag &amp; drop or click to upload video
                  small Only mp4 format supported
                .video-name
                  span
                  .btn-remove
                    img(src=path+"/assets/images/ico_close_red.svg", alt="Remove")
                span Or
                img.upl(src=path+"/assets/images/btn_upload_video.png", alt="Select video from your computer" width="324" height="67")
                .btn-update
                  img(src=path+'/assets/images/ico_up.svg' alt='Click or drop image')
                  span Select other video
          .d-flex.align-items-center
            label.module-check
              input.form-checkbox.check-item(type="checkbox", name="speakers[]")
              span.label Add to video library
            button.btn-tooltip(type='button' data-toggle='tooltip' data-placement='top' title='Tooltip on top')
        .modal_foot
          button(type="submit", class="btn btn-primary trans w-100")
            span Upload a video