.m-calendar
  .m-calendar_inner
    .swiper-container.js-m-calendar
      .swiper-wrapper
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label.current Tue
            button(class="btn trans m-calendar_item-box current")
              span.m-calendar_item-day 19
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Wed
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 20
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Fri
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 22
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Sun
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 24
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Mon
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 25
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Tue
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 26
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Wed
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 27
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Thu
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 28
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Fri
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 29
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Fri
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 22
              span.m-calendar_item-month Aug
        .item.swiper-slide
          .m-calendar_item
            span.m-calendar_item-label Fri
            button(class="btn trans m-calendar_item-box")
              span.m-calendar_item-day 22
              span.m-calendar_item-month Aug

  .m-calendar_button.prev
    img(src=path+"/assets/images/ico_slide_prev.svg", alt="")
  .m-calendar_button.next
    img(src=path+"/assets/images/ico_slide_next.svg", alt="")

.m-sessions
  .m-sessions_block
    .m-sessions_block-time
      .time-point.start 11:00
      .time-point.end 12:00
      .block-time-live Live
    .m-sessions_block-content
      .ct-body
        .box-control 
          a.btn.btn-primary.btn-join-session(href="#") 
            span.ico-join 
            | Join Session
        .session-time-info 
          .session-time-info-status 
            .live Live
            .txt 11:00 - 12:00
          .session-time-info-recent 
            span.ico-clock-inline
            | 60 mins
        h2.session-title All our PRO level features at your fingertips
        ul.session-tag 
          li 
            a(href="#") Blockchain 
          li 
            a(href="#") Groundbreaking
        p.session-desc Our couriers have a very particular set of skills. They will find you. They will deliver to you. This is Intercom: the Business Messenger you and your customers will love. Father Goes For Kidney Treatment – Leaves Hospital As A Women.
      .ct-footer.swiper-container
        .swiper-wrapper
          .ct-footer_block.swiper-slide
            strong Host
            ul.l-mem
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus02.png", alt="")
                .l-mem_info
                  .name Esther Howard
                  p.tt Cofounder & CEO, Spaktoro
          .ct-footer_block.swiper-slide
            strong Speaker
            ul.l-mem
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus01.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, New York
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus03.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
  .m-sessions_block
    .m-sessions_block-time
      .time-point.start 11:00
      .time-point.end 12:00
    .m-sessions_block-content
      .ct-body
        .box-control 
          a.btn.btn-primary.btn-remind(href="#") 
            span.ico-remind 
            | Remind me
        .session-time-info 
          .session-time-info-status 
            .live Live
            .txt 11:00 - 12:00
          .session-time-info-recent 
            span.ico-clock-inline
            | 60 mins
        h2.session-title Save Money, Without Thinking About It
        ul.session-tag 
          li 
            a(href="#") Blockchain 
          li 
            a(href="#") Defence 
          li 
            a(href="#") Transportation
          li 
            a(href="#") Leadership 
        p.session-desc Father Goes For Kidney Treatment – Leaves Hospital As A Women. This is Intercom: the Business Messenger you and your customers will love. If you BUY now, I’ll be sending you another mystery bonus as a token of appreciation. Our couriers have a very particular set of skills. They will find you. They will deliver to you. This is Intercom: the Business Messenger you and your customers will love. Father Goes For Kidney Treatment – Leaves Hospital As A Women.
      .ct-footer.swiper-container
        .swiper-wrapper
          .ct-footer_block.swiper-slide
            strong Host
            ul.l-mem
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus02.png", alt="")
                .l-mem_info
                  .name Esther Howard
                  p.tt Cofounder & CEO, Spaktoro
          .ct-footer_block.swiper-slide
            strong Speaker
            ul.l-mem
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus01.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, New York
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus03.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
              li.l-mem_item(data-toggle="modal" data-target="#modalViewSpeakerMain")
                .image
                  img(src=path+"/assets/images/img_cus04.png", alt="")
                .l-mem_info
                  .name Robert Fox
                  p.tt Cofounder & CEO, Spaktoro
  a.btn.btn-primary.btn-load-more(href="") Load more 
  .box-loading
    .loading 
      span.ico-loading 
      | Loading
