.tab-item-main 
    form.form
        .form-item-inline 
            .form-item.people-search 
                .form-item-input.input-search
                    span.ico-search
                    input(type="text" name="search" placeholder="Search for an attendee")
            .form-item.sort-type 
                .form-item-input.input-select
                    input(type="text" name="select_name2")
                    .label 
                        span.ico-list-view
                    ul 
                        li(data-value="0")
                            span.ico-grid-view 
                            | Grid View 
                        li(data-value="1").is-activated 
                            span.ico-list-view 
                            | List View
    .box-people-main
        .people-list 
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar04.png", alt="")
                a.btn.btn-hot.trans(href="")
                    span.ico-hot-white-circe
                    |Host
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar05.png", alt="")
                a.btn.btn-mic.trans(href="")
                    span.ico-mic-circe2
                    |Host
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar06.png", alt="")
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar01.png", alt="")
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar01.png", alt="")
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx
            .people-item 
                img.btn-user-info(src=path+"/assets/images/img_avatar01.png", alt="")
                .people-main 
                    .title Adeleke Peter 
                    .desc 
                        p Job title, Organization 
                        p Ho Chi Minh City, VietNam
                    .box-action 
                        a.btn.btn-send-msg.trans(href="#") 
                            span.ico-comment 
                            | Send message
                        a.btn.btn-action.trans(href="#") 
                            span.ico-dotx