.video-control-host 
  .video-control-host-close.btn-host close
  .video-control-host-item 
    .caption Host
    .video-control-item-main.on
      .video-control-host-status
        img.banner(src=path+"/assets/images/img_avatar07.png")
      .video-control-host-info 
        .title Esther Howard
        .desc Cofounder & CEO, Spaktoro
  .video-control-host-list
     .caption Host
     .video-control-host-list-main 
        .swiper.video-host
          .swiper-wrapper
            .swiper-slide 
              .video-control-item-main.on 
                .video-control-host-status
                  img.banner(src=path+"/assets/images/img_avatar01.png")
                .video-control-host-info 
                  .title Esther Howard
                  .desc Cofounder & CEO, Spaktoro
            .swiper-slide 
                .video-control-item-main 
                  .video-control-host-status
                    img.banner(src=path+"/assets/images/img_avatar02.png")
                  .video-control-host-info 
                    .title Esther Howard
                    .desc Cofounder & CEO, Spaktoro
            .swiper-slide 
                .video-control-item-main 
                  .video-control-host-status
                    img.banner(src=path+"/assets/images/img_avatar03.png")
                  .video-control-host-info 
                    .title Esther Howard
                    .desc Cofounder & CEO, Spaktoro
            .swiper-slide 
                .video-control-item-main.on
                  .video-control-host-status
                    img.banner(src=path+"/assets/images/img_avatar04.png")
                  .video-control-host-info 
                    .title Esther Howard
                    .desc Cofounder & CEO, Spaktoro
            .swiper-slide 
                .video-control-item-main.on 
                  .video-control-host-status
                    img.banner(src=path+"/assets/images/img_avatar05.png")
                  .video-control-host-info 
                    .title Esther Howard
                    .desc Cofounder & CEO, Spaktoro
.video-control-main
  .control-left
    ul.nav 
      li 
        a.user-group.btn-host

  .control-center
    ul.nav.group
      li 
        a.video
      li 
        a.micro
      li 
        a.video-share.btn-video-share
        .video-share-main 
          .title Present to audience
          .desc Present a file from your computer or share your screen with the audience.
          ul 
            li 
              .img.btn-share-screen 
                span.ico-share-screen
              .title Share Screen
              .desc Share a browser window or tab, or your entire screen with your audience.
            li 
              .img.btn-choose-file
                span.ico-pdf
              .title Select PDF File
              .desc Choose a PDF file from your computer to present to your audience.
    ul.nav
      li 
        a.video-menu
        ul.video-menu-item 
          li 
            a Manage Moderator
          li 
            a Background & visual effect
          li 
            a Audio & Video settings
        li 
          a.btn-emoji.emoji
          ul.video-emoji-list
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_1.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_2.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_3.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_4.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_5.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_6.svg")
            li 
              a 
                img.banner(src=path+"/assets/images/emoji_7.svg")

  .control-right
    ul.nav 
      li 
        a.btn-toggle-label 
          <span class="button1">Record Session</span>
          <span class="button2 move"></span>
          <span class="button3 push">Recording...</span>
      li 
        a.card.btn-layout-card
      li 
        a.gird.btn-layout-gird
      li 
        .quality 
          .quality-label 
            span.ico-hd
          ul.quality-list
            li.is-activated  
                a
                  span.ico-hd 
                  | High Definition
            li 
                a 
                  span.ico-ld 
                  | Low Definition
      li 
        a.full-screen.btn-fullscreen